# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.ini
*~

# OS or Editor folders
._*
.cache
.DS_Store
.editorconfig
.idea
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db

# Folders to ignore
bower_components
node_modules
.sass-cache

# Ignore project files
bin/
tests/
.ftppass
.phpcs.xml.dist
.travis.yml
sftp-config.json
phpcs.ruleset.xml
phpunit.xml.dist

vendor/*
!vendor/autoload.php
!vendor/composer/
